{% extends "layout.html" %}

{% block body %}
  <h1>Welcome to My Page</h1>
  <p>
        This is the demo application for the course
        <em>Getting Started with Flask</em>
        on <a href="https://gomesportfolio.co.uk" target="_blank">
        Theotones Gomes </a>.
    </p>

    <h2>Flash Cards</h2>
    <p><a class="btn mt-3 btn-sm btn-primary" href="{{ url_for('add_card')}} "> Add New Card </a></p>
    <ul>
        {% for card in cards %}
            <li>
                <a href="{{ url_for('card_view', index=loop.index0) }}">
                    {{ card.question }}
                </a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}